@import "config";

// 表格样式公用
.common-table-bg {
  position: relative;
  width: $textWidth;
  background: rgba(255, 255, 255, 1);
  border-radius: $tableRadius;
  margin: 89px auto 0;
  overflow: hidden;
  padding-bottom: 26px;

  .table-banner {
    width: 100%;
    height: 72px;

    .png-icon {
      width: 38px;
      height: 38px;
      left: 43px;
      top: 18px;
    }
  }

  .svg-logo, h3, h5, .png-icon {
    position: absolute;
  }

  .svg-logo {
    width: 15px;
    height: 15px;
    right: 45px;
    top: 30px;
  }

  h3 {
    font-size: 20px;
    color: rgba(57, 69, 101, 1);
    left: 93px;
    top: 22px;
  }

  h5 {
    right: 64px;
    top: 27px;
    font-size: 14px;
  }
}

.table-row-name-area {
  height: 48px;
  width: 100%;
  background:rgba(250,250,251,1);
  @include display-flex;
  padding-left: 40px;
  h6 {
    top: 11px;
    font-size: 14px;
    color: rgba(57, 69, 101, 1);
  }
}

.collapse-area {
  width: 100%;
  position: relative;
}

.table-detail {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 40px;
  background-color: white;
  position: relative;
  @include display-flex;
  p{
    float: left;
    line-height: 24px;
    margin: 0;
    width: 200px;
  }
  .table-room{
    width: 100%;
    height: 10px;
    background-color: red;
    position: relative;
  }
}
.table-detail:nth-child(2n) {
  background-color: #FAFAFB;
}
.table-detail:hover{
  background-color: #EBF1F5;
}

.mix-common{
  width: 100%;
  height: auto;
}

.empty-table{
  background-image: url("../image/empty_text.png");
  width: 260px;
  height: 213px;
  background-repeat: no-repeat;
  position: relative;
  p{
    position: absolute;
    left:50%;
    top: 187px;
    font-size:20px;
    color:rgba(155,155,155,1);
    letter-spacing:1px;
    transform: translate(-50%,0);
  }
}

.pool-search-area{
  position: absolute;
  top: 0;
  left: 0;
}

.total-data-count{
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  p{
    position: absolute;
    color: #394565;
    top: 649px;
    font-size:13px;
  }
  .tip1{
    left: 34px;
  }
  .tip2{
    left: 116px;
  }
  .tip3{
    left: 198px;
  }
}
.paging-area{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  .ant-pagination{
    position: absolute;
    left: 365px;
    top: 644px;
  }
}













